<%= stylesheet_link_tag "application" %>

<div class="container-fluid">
  <div class="row">
    <div class="title">
      <h1>ブログを作成する</h1>
    </div>
  </div>
    
    <%= render 'form', blog: @blog %>
    
</div>