  <%= link_to "Profile", user_path(current_user.id), class: "btn btn-info"  %>
  <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "btn btn-danger"  %>

  <h1>Log in：<%= @user.name %></h1>

  <p>メールアドレス: <%= @user.email %></p>
